################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp/lingoport/.vs/HelloWorld/v16/.suo
