<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
   <title>Globalization Test site</title>

<!-- Bootstrap core CSS -->
<link href="../../../../css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../../../../jumbotron.css" rel="stylesheet">
<link href="../../../../css/floating-labels.css" rel="stylesheet">
<script src="../../public/js/jquery.js"></script>